<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../View/style.css">
    <title>SenacHub</title>
</head>
<body class="senachub_tela_login">
    <header></header>
        <main class="senachub_borda_login">
            <div class="senachub_container">
                <img class="senachub_tamanho_logo" src="../Imagem/LogoSenac.png" alt="Logo SenacHub">
                <h1 class="senachub_tamanho_titulo_login">Entrar na sua conta</h1>
                <p class="senachub_tamanho_subtitulo">Bem-vindo de volta! Entre suas credenciais.</p>
        
                <!-- INPUT DE EMAIL -->
        
                <div class="senachub_input_email">
                    <label class="senachub_tamanho_email" for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
        
                <!-- INPUT DE SENHA -->
        
                  <div class="form-group">
                    <label class="senachub_tamanho_senha" for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                  </div>
                  
                <!-- INPUT DE CHECK -->
        
                  <div class="senachub_check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="senachub_cor_lembrar_De_mim" for="exampleCheck1">&nbsp; Lembrar de mim</label>
                    <a class="senachub_esqueci_senha" href="https://github.com/heelinho?tab=repositories">Esqueci a senha</a>
                  </div>
        
                <!-- BOTÃO DE ENTRAR -->
        
                <button type="button" class="senachub_button_entrar">Entrar</button>
        
                <!-- BOTÃO DE NÃO TEM CONTA -->
                
                <p class="senachub_nao_tem_conta">Não tem uma conta?<a class="senachub_crie_aqui" href="https://github.com/heelinho?tab=repositories">&nbsp;Crie aqui</a></p>
            </div>
        </main>
    <footer></footer>
</body>
</html>